{% extends 'base-out.html.twig' %}

{% block title %}
    {{ parent() }} - Connexion
{% endblock %}

{% block body %}
    <div class="mr-lg-5 ml-lg-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-8 col-sm-1">
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="card mt-5 mb-4">
                                <div class="card-body">
                                    <div class="p-2">
                                        <div class="text-center">
                                            <a href="{{ path('login') }}" class="logo logo-admin"><img
                                                        src="{{ asset('images/logo_pusso.png') }}" height="125"
                                                        alt="logo"></a>
                                        </div>
                                    </div>
                                    <div class="p-2">
                                        {% for message in app.session.flashbag.get('error') %}
                                            <div class="alert alert-danger">
                                                {{ message }}
                                            </div>
                                        {% endfor %}

                                        {% for message in app.session.flashbag.get('warning') %}
                                            <div class="alert alert-warning">
                                                {{ message }}
                                            </div>
                                        {% endfor %}


                                        {% for message in app.session.flashbag.get('success') %}
                                            <div class="alert alert-success">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                        {% if error %}
                                            <div class="alert alert-danger">
                                                {{ error.messageKey|trans(error.messageData, 'security') }}
                                            </div>
                                        {% endif %}
                                        <form class="form-horizontal m-t-15" action="{{ path('login_check') }}"
                                              method="post" onsubmit="showLoadingButton()">

                                            <div class="form-group row">
                                                <div class="col-12">
                                                    <input type="email" name="_username" class="form-control"
                                                           placeholder="Email" value="{{ last_username }}">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-12">
                                                    <input type="password" name="_password" class="form-control"
                                                           placeholder="Password">
                                                </div>
                                            </div>

                                            <input type="hidden" name="_csrf_token"
                                                   value="{{ csrf_token('authenticate') }}">

                                            <div class="form-group text-center row m-t-20">
                                                <div class="col-12">
                                                    <button class="btn btn-pusso-primary btn-block waves-effect waves-light"
                                                            id="submit_button" type="submit">Se connecter
                                                    </button>
                                                    <button style="display: none;" id="loading_button"
                                                            class="btn btn-pusso-primary btn-block waves-effect waves-light"
                                                            type="button">
                                                        <span class="spinner-border spinner-border-sm" role="status"
                                                              aria-hidden="true"></span>
                                                        Connexion en cours...
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="form-group m-t-10 mb-0 row">
                                                <div class="col-sm-7 m-t-20">
                                                    <a href="{{ path('app_forget') }}" class="text-muted"><i
                                                                class="mdi mdi-lock"></i> Mot de passe oublié ?</a>
                                                </div>
                                                <div class="col-sm-5 m-t-20">
                                                    <a href="{{ path('app_register') }}" class="text-muted"><i
                                                                class="mdi mdi-account-circle"></i> Créer un compte</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
    </div>
    <script>
        function showLoadingButton() {
            document.getElementById('submit_button').style.display = 'none';
            document.getElementById('loading_button').style.display = 'block';
        }
    </script>

{% endblock %}