{% extends 'base.html.twig' %}

{% block titre %} {{ parent() }} - Créer une demande {% endblock %}
{% block stylesheets %}
    <link href="{{ asset('zinzer/plugins/sweet-alert2/sweetalert2.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('zinzer/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <style>
        .custom-file-label::after {
            content: "Charger une image";
        }
    </style>
<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="col-12 text-center">
                    <p><img class="col-xl-2" id="selected-img" src="{{ asset('images/' ~ logo) }}" alt="logo"></p>
                </div>
                {% if not creationOK %}
                    {{ form_start(form,{'attr' : {'class' : 'form-horizontal m-t-15 mr-4 ml-4', 'onsubmit':'showLoadingButton()'}}) }}
                    <div class="row">
                        <div class="form-group col-lg-6 col-sm-12">
                            <label class="col-form-label">Organisme</label>
                            {{ form_widget(form.organisme,{'attr':{'class':'form-control','placeholder':'Organisme', 'onChange':'updateImg(this)'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.organisme) }}</div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-12">
                            <label class="col-form-label">Service</label>
                            {{ form_widget(form.service,{'attr':{'class':'form-control','placeholder':'Service'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.service) }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-3 col-sm-12">
                            <label class=" col-form-label">Nom</label>
                            {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.nom) }}</div>
                        </div>
                        <div class="form-group col-lg-3 col-sm-12">
                            <label class=" col-form-label">Prénom</label>
                            {{ form_widget(form.prenom,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.prenom) }}</div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-12">
                            <label class=" col-form-label">E-mail</label>
                            {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.email) }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 col-sm-12">
                            <label class="col-form-label">Date de naissance</label>
                            <div class="input-group">
                                {{ form_widget(form.dateNaissance,{'attr':{'class':'form-control', 'placeholder':'JJ/MM/AAAA'}}) }}
                                <div class="input-group-append bg-custom b-0">
                                    <span class="input-group-text">
                                        <i class="fa fa-birthday-cake"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-control-feedback">{{ form_errors(form.dateNaissance) }}</div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-12">
                            <label class="col-form-label">Type de pièce d'identité</label>
                            {{ form_widget(form.typePieceIdentite,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.typePieceIdentite) }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 col-sm-12">
                            <label class="col-form-label">Numéro pièce d'identité</label>
                            {{ form_widget(form.cin,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.cin) }}</div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-12">
                            <label class="col-form-label">Pièce d'identité</label>
                            {{ form_widget(form.piFile,{'attr':{'class':'form-control custom-file-input'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.piFile) }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-8 col-sm-12">
                            <label class="col-form-label">Adresse Présentation de la facture</label>
                            {{ form_widget(form.adresse,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.adresse) }}</div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12">
                            <label class="col-form-label">Tél. Domicile</label>
                            {{ form_widget(form.telDomicile,{'attr':{'class':'form-control','placeholder':'A contacter'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.telDomicile) }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-8 col-sm-12">
                            <label class="col-form-label">Adresse livraison du courant</label>
                            {{ form_widget(form.lieuBranchement,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.lieuBranchement) }}</div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12">
                            <label class="col-form-label">Personne à contacter (Num.)</label>
                            {{ form_widget(form.contact,{'attr':{'class':'form-control','placeholder':'Tél personne à contacter'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.contact) }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-8 col-sm-12">
                            <label class="col-form-label">Adresse professionnelle</label>
                            {{ form_widget(form.adressePro,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.adressePro) }}</div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12">
                            <label class="col-form-label">Tél. Bureau</label>
                            {{ form_widget(form.telBureau,{'attr':{'class':'form-control','placeholder':'Tél Bureau'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.telBureau) }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-8 col-sm-12">
                            <label class="col-form-label">Ancienne Adresse (Facultatif)</label>
                            {{ form_widget(form.ancienneAdresse,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.ancienneAdresse) }}</div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12">
                            <label class="col-form-label">Ancienne Police (Facultatif)</label>
                            {{ form_widget(form.anciennePolice,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.anciennePolice) }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 col-sm-12">
                            <label class="col-form-label">Présentation des factures</label>
                            {{ form_widget(form.presentationFacture,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.presentationFacture) }}</div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-12">
                            <label class="col-form-label">Type de local</label>
                            {{ form_widget(form.typeLocal,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.typeLocal) }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6 col-sm-12">
                            <label class="col-form-label">Nationalité</label>
                            {{ form_widget(form.nationalite,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.nationalite) }}</div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-12">
                            <label class="col-form-label">Profession (Facultatif)</label>
                            {{ form_widget(form.profession,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.profession) }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6 col-sm-12">
                            <label class="col-form-label">Employeur (Facultatif)</label>
                            {{ form_widget(form.employeur,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.employeur) }}</div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-12">
                            <label class="col-form-label">Nom du propriétaire</label>
                            {{ form_widget(form.proprietaire,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.proprietaire) }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6 col-sm-12">
                            <label class="col-form-label">Type d'inscription</label>
                            {{ form_widget(form.typeInscription,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.typeInscription) }}</div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-12">
                            <label class="col-form-label">Numéro</label>
                            {{ form_widget(form.numeroRegistre,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.numeroRegistre) }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-2 col-sm-12">
                            <label class="col-form-label">Prélèvement bancaire</label>
                            {{ form_widget(form.prelevementBancaire,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.prelevementBancaire) }}</div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12">
                            <label class="col-form-label">Banque</label>
                            {{ form_widget(form.banque,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.banque) }}</div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-12">
                            <label class="col-form-label">N° Compte</label>
                            {{ form_widget(form.numCompte,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.numCompte) }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 col-sm-12">
                            <label class="col-form-label">Compte de contrat (numéro police) du client précédent</label>
                            {{ form_widget(form.policeVoisin,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.policeVoisin) }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 col-sm-8">
                            <h3 class="text-left">Foyers lumineux et appareils intallés</h3>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="form-group col-lg-3 col-sm-6">
                            <label class="col-form-label">Foyers Lumineux: </label>
                            {{ form_widget(form.nbrFoyersLumineux,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.nbrFoyersLumineux) }}</div>
                        </div>
                        <div class="form-group col-lg-3 col-sm-6">
                            <label class="col-form-label">Chauffe-eau: </label>
                            {{ form_widget(form.nbrChauffeEau,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.nbrChauffeEau) }}</div>
                        </div>
                        <div class="form-group col-lg-3 col-sm-6">
                            <label class="col-form-label">Fers à repasser: </label>
                            {{ form_widget(form.nbrFersRepasser,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.nbrFersRepasser) }}</div>
                        </div>
                        <div class="form-group col-lg-3 col-sm-6">
                            <label class="col-form-label">Frigos: </label>
                            {{ form_widget(form.nbrFrigos,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.nbrFrigos) }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-3 col-sm-6">
                            <label class="col-form-label"> Ventilateurs: </label>
                            {{ form_widget(form.nbrVentilateurs,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.nbrVentilateurs) }}</div>
                        </div>
                        <div class="form-group col-lg-3 col-sm-6">
                            <label class="col-form-label">Machines à laver: </label>
                            {{ form_widget(form.nbrMachinesLaver,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.nbrMachinesLaver) }}</div>
                        </div>
                        <div class="form-group col-lg-3 col-sm-6">
                            <label class="col-form-label">Téléviseurs/Vidéo: </label>
                            {{ form_widget(form.nbrTeleviseurs,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.nbrTeleviseurs) }}</div>
                        </div>
                        <div class="form-group col-lg-3 col-sm-6">
                            <label class="col-form-label">Climatiseurs: </label>
                            {{ form_widget(form.nbrClimatiseurs,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.nbrClimatiseurs) }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-3 col-sm-6">
                            <label class="col-form-label"> Moteurs et divers : </label>
                            {{ form_widget(form.nbrMoteursDivers,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.nbrMoteursDivers) }}</div>
                        </div>
                        <div class="form-group col-lg-3 col-sm-6">
                            <label class="col-form-label">Congélateurs: </label>
                            {{ form_widget(form.nbrCongelateurs,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.nbrCongelateurs) }}</div>
                        </div>
                        <div class="form-group col-lg-3 col-sm-6">
                            <label class="col-form-label">Wi-Fi: </label>
                            {{ form_widget(form.nbrWifi,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.nbrWifi) }}</div>
                        </div>
                        <div class="form-group col-lg-3 col-sm-6">
                            <label class="col-form-label">Ordinateurs: </label>
                            {{ form_widget(form.nbrOrdinateurs,{'attr':{'class':'form-control'}}) }}
                            <div class="form-control-feedback">{{ form_errors(form.nbrOrdinateurs) }}</div>
                        </div>
                    </div>
                    <div class="form-group text-center row m-t-20">
                        <div class="col-12">
                            <button class="btn btn-pusso-primary btn-block waves-effect waves-light" id="submit_button" type="submit">Initier ma demande</button>
                            <button style="display: none;"  id="loading_button" class="btn btn-pusso-primary btn-block waves-effect waves-light"  type="button">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Création en cours...
                            </button>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('zinzer/plugins/bs-custom-file-input/bs-custom-file-input.min.js') }}"></script>
    <!-- Bootstrap inputmask js -->
    <script src="{{ asset('zinzer/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js') }}"></script>
    <!-- Sweet-Alert  -->
    <script src="{{ asset('zinzer/plugins/sweet-alert2/sweetalert2.min.js') }}"></script>
    <script>
        function showLoadingButton() {
            document.getElementById('submit_button').style.display ='none';
            document.getElementById('loading_button').style.display ='block';
        }
    </script>
    {% if creationOK %}
        <script>
            swal(
                {
                    title: 'Bravo !',
                    text: 'Votre demande a été créée avec succès!',
                    type: 'success',
                    showCancelButton: false,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger m-l-10'
                }
            ).then(function () {
                window.location = "{{ path('app_demande_my_requests') }}"
            })
        </script>
    {% endif %}
{% endblock %}
