<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_024{font-family:Tahoma,serif;font-size:15.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
        div.cls_024{font-family:Tahoma,serif;font-size:15.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_006{font-family:Tahoma,serif;font-size:9.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        div.cls_006{font-family:Tahoma,serif;font-size:9.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        span.cls_007{font-family:Tahoma,serif;font-size:11.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        div.cls_007{font-family:Tahoma,serif;font-size:11.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        span.cls_016{font-family:Tahoma,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        div.cls_016{font-family:Tahoma,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        span.cls_010{font-family:Tahoma,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_010{font-family:Tahoma,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_011{font-family:Times,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_011{font-family:Times,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_014{font-family:Tahoma,serif;font-size:7.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_014{font-family:Tahoma,serif;font-size:7.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_003{font-family:Tahoma,serif;font-size:11.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_003{font-family:Tahoma,serif;font-size:11.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_025{font-family:Tahoma,serif;font-size:11.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: underline}
        div.cls_025{font-family:Tahoma,serif;font-size:11.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        span.cls_015{font-family:Tahoma,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_015{font-family:Tahoma,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_017{font-family:Times,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_017{font-family:Times,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_018{font-family:Times,serif;font-size:16.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        div.cls_018{font-family:Times,serif;font-size:16.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        span.cls_012{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_012{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_019{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        div.cls_019{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        span.cls_026{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: underline}
        div.cls_026{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        span.cls_027{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: underline}
        div.cls_027{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: none}
        span.cls_023{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
        div.cls_023{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
        -->
    </style>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
    <div style="position:absolute;left:0px;top:0px">
        <img src="https://pusso.technokocc.fr/pdf-styles/background1.jpg" width=595 height=841></div>
    <div style="position:absolute;left:181.70px;top:71.22px" class="cls_024"><span class="cls_024">DEMANDE DE BRANCHEMENT EAU</span></div>
    <div style="position:absolute;left:56.64px;top:90.06px" class="cls_006"><span class="cls_006">SDE IS 05 01-01</span></div>
    <div style="position:absolute;left:67.70px;top:116.10px" class="cls_007"><span class="cls_007">NUMERO D’ORDRE</span></div>
    <div style="position:absolute;left:374.83px;top:119.46px" class="cls_016"><span class="cls_016">Direction Régionale :</span></div>
    <div style="position:absolute;left:374.83px;top:141.30px" class="cls_016"><span class="cls_016">Secteur :</span></div>
    <div style="position:absolute;left:374.83px;top:158.94px" class="cls_016"><span class="cls_016">Centre :</span></div>
    <div style="position:absolute;left:56.64px;top:185.82px" class="cls_010"><span class="cls_010">NOM DU PROPRIETAIRE<em style="text-decoration: underline; font-size: smaller;">{{person ?? 'PUSSO....................' | prettyString(25)}}</em>P.I. N°<em style="text-decoration: underline; font-size: smaller;">{{cin ?? '1111111111111' | prettyString(13, '.')}}</em> Nature<em style="text-decoration: underline; font-size: smaller;">{{nature ?? 'AAAAAAAAAAAA' | prettyString(12, '.')}}</em></span></div>
    <div style="position:absolute;left:56.64px;top:209.94px" class="cls_010"><span class="cls_010">ADRESSE <em style="text-decoration: underline; font-size: smaller;">{{adresse ?? '.....................................' | prettyString(36)}}</em>Tél. Dom. <em style="text-decoration: underline; font-size: smaller;">{{telDomicile ?? '...............' | prettyString(15)}}</em>Port.<em style="text-decoration: underline; font-size: smaller;">{{telPortable ?? '...............' | prettyString(15)}}</em></span></div>
    <div style="position:absolute;left:56.64px;top:235.29px" class="cls_010"><span class="cls_010">ADRESSE PROFESSIONNELLE <em style="text-decoration: underline; font-size: smaller;">{{adressPro ?? '....................................' | prettyString(37)}}</em> Tél Bur<em style="text-decoration: underline; font-size: smaller;">{{telBurau15 ?? '...............' | prettyString(15)}}</em></span></div>
    <div style="position:absolute;left:56.64px;top:259.53px" class="cls_010"><span class="cls_010">LIEU DE BRANCHEMENT <em style="text-decoration: underline; font-size: smaller;">{{lieuBranchement ?? '............................................................' | prettyString(60)}}</em></span></div>
    <div style="position:absolute;left:80.54px;top:285.45px" class="cls_007"><span class="cls_007">RENSEINGNEMENTS DESTINES A LOCALISER L’ADRESSE DU BRANCHEMENT</span></div>
    <div style="position:absolute;left:56.64px;top:312.45px" class="cls_010"><span class="cls_010">NOM DU VOISIN ALIMENTE LE PLUS PROCHE <em style="text-decoration: underline; font-size: smaller;">{{nomVoisin ?? '.........................................' | prettyString(41)}}</em></span></div>
    <div style="position:absolute;left:56.64px;top:336.57px" class="cls_010"><span class="cls_010">SON NUMERO DE PRISE / POLICE <em style="text-decoration: underline; font-size: smaller;">{{policeVoisin ?? '.....................................................' | prettyString(53)}}</em></span></div>
    <div style="position:absolute;left:201.65px;top:362.49px" class="cls_007"><span class="cls_007">CARACTERISTIQUES TECHNIQUES</span></div>
    <div style="position:absolute;left:56.64px;top:389.61px" class="cls_010"><span class="cls_010"><em style="font-size: smaller">IMMEUBLE</em> <b style="margin-left: 5px;">{{imeuble ?? 'X'}}</b></span></div>
    <div style="position:absolute;left:201.99px;top:389.61px" class="cls_010"><span class="cls_010">VILLA <b style="margin-left: 10px">{{villa ?? 'X'}}</b></span></div>
    <div style="position:absolute;left:339.91px;top:389.61px" class="cls_010"><span class="cls_010"><b style="margin-left: -18px">{{protectionIncendie ?? 'X'}} </b> PROTECTION INCENDIE</span></div>
    <div style="position:absolute;left:56.64px;top:414.95px" class="cls_010"><span class="cls_010"><em style="font-size: smaller;  margin-top: -10px">CHANTIER</em> <b style="margin-left: 8px;">{{chantier ?? 'X'}}</b></span></div>
    <div style="position:absolute;left:201.05px;top:414.95px" class="cls_010"><span class="cls_010">AUTRES <b style="margin-left: 5px">{{autres ?? 'X'}}</b></span></div>
    <div style="position:absolute;left:56.64px;top:439.43px" class="cls_011"><span class="cls_011">USAGE :   DOMESTIQUE</span> <b style="margin-left: 18px">{{domestique ?? 'X'}}</b></div>
    <div style="position:absolute;left:210.04px;top:439.43px" class="cls_011"><span class="cls_011">PROFESSIONNEL</span> <b style="margin-left: 21px">{{professionnel ?? 'X'}}</b></div>
    <div style="position:absolute;left:339.91px;top:437.39px" class="cls_011"><span class="cls_011" style="margin-top: 15px">MARAICHER</span> <b style="margin-left: 18px">{{maraicher ?? 'X'}}</b></div>
    <div style="position:absolute;left:104.78px;top:463.19px" class="cls_010"><span class="cls_010">ALIMENTATION DOMESTIQUE</span></div>
    <div style="position:absolute;left:308.69px;top:463.19px" class="cls_010"><span class="cls_010">ALIMENTATION COMMERCIALE, INDUSTRIELLE</span></div>
    <div style="position:absolute;left:379.75px;top:475.91px" class="cls_010"><span class="cls_010">OU MARAÎCHERE</span></div>
    <div style="position:absolute;left:56.64px;top:489.11px" class="cls_010"><span class="cls_010">NOMBRE DE :</span></div>
    <div style="position:absolute;left:56.64px;top:501.71px" class="cls_010"><span class="cls_010">POINTS D’EAU {{nbrPointDeau ?? '..........' | prettyString(11)}}LAVABO{{nbrLavabos ?? '........' | prettyString(7)}}</span></div>
    <div style="position:absolute;left:301.25px;top:501.71px" class="cls_010"><span class="cls_010">CONSOMMATION ANNUELLE</span> {{consomationAnnuelle ?? ''}}</div>
    <div style="position:absolute;left:56.64px;top:514.43px" class="cls_010"><span class="cls_010">ROBINET DE PUISAGE {{nbrRobinets ?? '...........'}}</span></div>
    <div style="position:absolute;left:56.64px;top:527.15px" class="cls_010"><span class="cls_010">EVIER {{nbrEviers ?? '.........'}} BAIGNOIRE{{nbrBaignoires ?? '......' | prettyString(6)}}URINOIR{{nbrUrinoirs ?? '...' | prettyString(3)}}</span></div>
    <div style="position:absolute;left:301.25px;top:527.15px" class="cls_010"><span class="cls_010">CONSOMMATION MENSUELLE</span> {{consomationMensuelle ?? ''}}</div>
    <div style="position:absolute;left:56.64px;top:539.75px" class="cls_010"><span class="cls_010">LAVOIR {{nbrLavoirs ?? '.........' | prettyString(8)}}  BIDET {{nbrBidets7 ?? '.......'| prettyString(7)}}WC{{nbrWc ?? '.....'| prettyString(5)}}</span></div>
    <div style="position:absolute;left:56.64px;top:552.47px" class="cls_010"><span class="cls_010">SURFACE JARDIN :{{surfaceJardin ?? '...................'| prettyString(19)}}M</span><span class="cls_014"><sup>2</sup></span></div>
    <div style="position:absolute;left:301.25px;top:552.47px" class="cls_010"><span class="cls_010">DEBIT JOURNALIER</span> {{debitJournalier ?? ''}}</div>
    <div style="position:absolute;left:56.64px;top:565.10px" class="cls_010"><span class="cls_010">CAPACITE PISCINE :{{capacitePiscine ?? '...................'| prettyString(19)}}M</span><span class="cls_014"><sup>3</sup></span></div>
    <div style="position:absolute;left:301.25px;top:577.82px" class="cls_010"><span class="cls_010">DEBIT HORAIRE</span> {{debitJournalier ?? ''}}</div>
    <div style="position:absolute;left:56.64px;top:601.58px" class="cls_011"><span class="cls_011">CETTE DEMANDE DOIT ETRE VISEE PAR LA DIRECTION DE L’URBANISME ET DE L’HABITAT OU A</span></div>
    <div style="position:absolute;left:56.64px;top:613.10px" class="cls_011"><span class="cls_011">DEFAUT PAR L’AUTORITE COMPETENTE</span></div>
    <div style="position:absolute;left:338.35px;top:625.46px" class="cls_003"><span class="cls_003">via le site PUSSO, le {{ dateCreation | date('d/m/Y')}}</span></div>
    <div style="position:absolute;left:356.11px;top:653.18px" class="cls_025"><span class="cls_025">SIGNATURE DU PROPRIETAIRE*</span></div>
    <div style="position:absolute;left:62.66px;top:658.82px" class="cls_003"><span class="cls_003">VISA ET CACHET DE L’AUTORITE</span></div>
    <div style="position:absolute;left:101.90px;top:672.74px" class="cls_003"><span class="cls_003">ADMINISTRATIVE</span></div>
    <div style="position:absolute;left:56.64px;top:713.18px" class="cls_015"><span class="cls_015">*S’il s’agit d’une personne morale, le cachet est obligatoire</span></div>
    <div style="position:absolute;left:56.64px;top:737.32px" class="cls_015"><span class="cls_015">Pour tout renseignement s’adresser au 800-11-11 (appel gratuit)</span></div>
    <div style="position:absolute;left:56.64px;top:782.68px" class="cls_017"><span class="cls_017">SDE IS 05 01-01</span></div>
    <div style="position:absolute;left:516.94px;top:781.72px" class="cls_011"><span class="cls_011">1/2</span></div>
</div>
</body>
</html>
