<div class="card">
    <div class="card-body mb-3">
        <h4 class="mt-0 header-title text-pusso-primary">Nos services</h4>
        <hr>
        <div class="row" >
            <img class="col-xl-2 col-sm-4"    src="{{ asset('images/logo-senelec.png') }}"/>
            <img class="col-xl-2 col-sm-4"    src="{{ asset('images/logo-seneau.png') }}"/>
            <img class="col-xl-2 col-sm-4"    src="{{ asset('images/logo-canal.png') }}"/>
            <img class="col-xl-2 col-sm-4"    src="{{ asset('images/logo-orange.png') }}"/>
            <img class="col-xl-2 col-sm-4"    src="{{ asset('images/logo-onas.jpg') }}"/>
            <img class="col-xl-2 col-sm-4"    src="{{ asset('images/logo-waw.png') }}"/>
        </div>
    </div>
</div>